html {
  font-size: 20px;
}
body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}
h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem; /* ルート要素基準で2倍のフォントサイズを設定 */
  letter-spacing: 1.2em;
  text-shadow: 10px 10px 20px gray;
  border-bottom: 3px solid rgb(115, 115, 114);
}
.m {
  color: skyblue;
}
.p {
  color: rgb(255, 192, 203);
}
.skyblue {
  color: skyblue;
}
.pink {
  color: rgb(255, 192, 203);
}
#basic div {
  font-weight: bold;
}
#parent div {
  font-weight: bold;
}
#child div {
  font-weight: bold;
}